@use "../../../styles/_variables.scss" as vars;

.Container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  color: #{vars.$heading-color};
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
}

.Popover {
  --bs-popover-header-bg: #{vars.$color-muni};
  --bs-popover-arrow-border: #{vars.$color-muni};
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: fit-content;
  max-width: 295px !important;
}

.Header {
  font-weight: bold;
  color: #{vars.$heading-color};
  border: none;
}

.EventBody {
  row-gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.Icon {
  color: #{vars.$color-muni};
  min-width: 15px;
  min-height: 15px;
}

.Map {
  height: 200px;
}

.PENDIENTE {
  color: orange !important;
}

.FINALIZADO {
  color: gray;
}

.CANCELADO {
  color: black;
}

.DENEGADO {
  color: red;
}
