$black-apprem: #414141;
$grey-apprem: #a5a5a5;
$dark-apprem: #1a1b1c;
$red: #f47a86;

$background-color-body: #eff0f3;
$background-color-empty: $grey-apprem;
$background-color-filled: #fff6c9;
$background-color-green: #96d700;
$background-input-information: #dbe2ea;

$color-text: $black-apprem;
$color-text: #414141;
$color-muni: #97d700;
$heading-color: #28029b;
