@use "../../../styles/_variables.scss" as vars;

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  row-gap: 1.5rem;
}

.Button {
  align-self: flex-start;
}

.Heading {
  text-align: center;
  color: #{vars.$heading-color};
}

.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.Header .Heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Container {
  @media (max-width: 946px) {
    .Header {
      flex-direction: column;
      row-gap: 1rem;
    }

    .Heading {
      position: relative;
      left: 0;
      transform: none;
    }
  }
}

.Title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.5rem;
}

.Logo {
  width: 75px;
  height: 75px;
}
