@use "../../../styles/_variables.scss" as vars;
@use "sass:color";

.CalendarContainer {
  overflow-x: auto;
}

.Calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(165px, 1fr));
}

.Header {
  display: contents;
  font-weight: bold;
  font-size: 1.25rem;
  color: #{vars.$heading-color};
}

.DayOfWeek {
  background-color: #{vars.$color-muni};
  font-weight: bold;
  text-align: center;
  padding-block: 1rem;
  border-right: 2px solid #{color.adjust(vars.$color-muni, $lightness: -5%)};
  border-left: 2px solid #{color.adjust(vars.$color-muni, $lightness: -5%)};

  &:last-child {
    border-right: none;
  }

  &:first-child {
    border-left: none;
  }
}

.Days {
  display: contents;
}

.Day {
  min-height: 170px;
  max-height: 170px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.Faded {
  opacity: 0.5;
}

.Event {
  background-color: #f0f0f0;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.DayNumber {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
